<div class = "padding">

<h1>Coaching Answers</h1>

<div class = "box">
<h4><%= @question %></h4>
<p>--You<p>
</div>

<div class = "box answer">
<h4><%= @answer %></h4>
<p>--Your Coach<p>
</div>

<%= link_to "Ask a new question", ask_path, style: "text-decoration: none;" %>

</div>
