<h1>Stupid Coaching</h1>

<form action="/answer" method ="get" data-turbo="false">
  <label for="question">Ask your coach anything</label>
  <input type = "text" name = "question" id = "question">
  <input type="submit" value = "Ask!">
</form>
